CREATE DATABASE IF NOT EXISTS {{ db_name }};
DROP USER IF EXISTS '{{ db_user }}'@'%';
DROP USER IF EXISTS '{{ db_user }}'@'localhost';
CREATE USER '{{ db_user }}'@'%' IDENTIFIED BY '{{ db_password }}';
CREATE USER '{{ db_user }}'@'localhost' IDENTIFIED BY '{{ db_password }}';
GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_user }}'@'%' IDENTIFIED BY '{{ db_password }}';
GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_user }}'@'localhost' IDENTIFIED BY '{{ db_password }}';
FLUSH PRIVILEGES;
